/*
 * Button component styles.
 * ------------------------------------------------------------------------------
 *
 */

@import '@/styles/utils/all';

.button {
	cursor: pointer;
	padding: 14px 23px;
	width: fit-content;
	display: inline-block;
	background: $deep-blue;
	border: 1px solid $deep-blue;
	border-radius: 26px;
	@extend %font-primary-regular;
	color: var(--color-white);
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	transition: 0.3s background ease-in-out;
	&:hover,
	&:focus {
		border: 1px solid $deep-blue;
		border-radius: 26px;
		background: hsl(240, 22%, 37%);
		transition: 0.3s background ease-in-out;
	}
	&.block {
		width: 100%;
	}
	&.white {
		border: 1px solid var(--color-white);
		background: var(--color-white);
		color: var(--color-black);
		&:hover,
		&:focus {
			background: lightgrey;
		}
	}
}
